/target/
/resources/public/out
/logs/profiles.clj
/.lein-*
/.nrepl-port
/.prepl-port
/.calva/
pom.xml
pom.xml.asc
*.jar
*.class
.hgignore
.hg/
.lsp/
.cursor/
.clj-kondo/.cache/
.DS_Store
.env
.env.local
