services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile.app
    container_name: volis-challenge-app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-challenge}

  db:
    build:
      context: ..
      dockerfile: docker/Dockerfile.db
    container_name: volis-challenge-postgres
    environment:
      POSTGRES_DB: challenge
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
