{:application-name "challenge"
 :config-file "config/application.edn"
 :database {:host "postgres"
            :port 5432
            :name "challenge"
            :user "postgres"
            :password "postgres"}
 :http     {:port 3000}}